@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
input, textarea, option, select{
  width: 100%;
  border: 1px solid gray;
  padding: 6px;
  border-radius: 2px
}

body{
  font-family: "Montserrat", sans-serif;
}
.title::before
{
    content:"";
    background:rgb(90, 24, 223);
    height:5px;
    width:200px;
    margin-left:auto;
    margin-right:auto;
    display:block;
    transform:translateY(63px)
}
.title::after
{
    content:"";
    background:rgb(90, 24, 223);
    height:10px;
    width:50px;
    margin-left:auto;
    margin-right:auto;
    display:block;
    transform:translateY(14px)
}

@tailwind base;
@tailwind components;
@tailwind utilities;